* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #ed8699;
}

.first {
  width: 100%;
  height: 100%;
}

.nav {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.navSection {
  display: inline-block;
  justify-content: end;
  vertical-align: middle;
}

.logoSection {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.s1 {
  background-image: url(../img/Header_img_final.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 1%;
}

.s11 {
  margin: 1% 10% 0% 10%;
  width: 80%;
  height: 100%;
}

.menu {
  width: 49%;
  display: inline-grid;
  vertical-align: middle;
  justify-content: end;
}

.headerLogo {
  width: 8em;
  display: inline-block;
  vertical-align: middle;
}

.navLink {
  border: 2px white solid;
  text-align: center;
  border-radius: 25px;
  list-style: none;
  color: #141414;
  background-color: white;
  font-family: "Nunito", sans-serif;
  padding: 4px 18px 4px 18px;
  font-size: 1em;
  font-weight: 900;
}

.navLink:hover {
  background-color: #ed8699;
  color: white;
}

.captionSection {
  color: white;
  width: 60%;
  margin-top: 18%;
}

.captionTitle {
  font-size: 4vw;
  font-weight: 700;
}

.captionWord {
  font-size: 2vw;
  font-weight: 500;
}

.container {
  margin: 0% 5% 0% 5%;
}

.captionParagraph {
  font-size: 1.2vw;
  margin-top: 1%;
}

.s2 {
  width: 100%;
  vertical-align: middle;
  align-items: center;
  background-color: #fffefc;
}

.leftSection {
  width: 50%;
  vertical-align: middle;
  display: inline-block;
}

.leftSection p {
  width: 90%;
  margin-top: 10px;
}

.rightSection {
  width: 49%;
  vertical-align: middle;
  display: inline-block;
}

.rightSection img {
  width: 100%;
}

.joinButton {
  border: 2px #141414 solid;
  text-align: center;
  border-radius: 25px;
  color: #141414;
  background-color: transparent;
  padding: 4px 18px 4px 18px;
  font-size: 1em;
  font-weight: 700;
}

.joinButton:hover {
  background-color: #141414;
  color: white;
}

.communityImg {
  height: 100%;
  width: 100%;
}

span {
  background-color: #141414 !important;
}

.container img {
  width: 100%;
}

.projectSection {
  width: 100%;
  margin-top: 35px;
}

.s3 {
  width: 100%;
  vertical-align: middle;
  align-items: center;
  background-color: #fffefc;
}
